.title {
	font-size: 2.5rem;
}

.subtitle {
	font-family: "Roboto";
	color: #aaa;
}

.pic {
	border: 10px solid rgba( 255, 255, 255, 0.15 );
	border-radius: 50%;
	width: 200px;
	vertical-align: middle;
}

.fa {
	margin: 0 5px;
}

.fa-facebook-square { color: #3b5998 }
.fa-twitter { color: #00aced }
.fa-github { color: #fff }
.fa-google-plus { color: #dd4b39 }