@import url( "https://fonts.googleapis.com/css?family=Roboto" );
@import url( "https://fonts.googleapis.com/css?family=Roboto+Slab" );

* {
	box-sizing: border-box;
}

html {
	font-size: 1em;
}

body {
	font-family: "Roboto Slab", "Source Code Pro", monospace;
	background: #2d3250;
	color: #eee;
}

h1, h2, h3 {
	font-weight: normal;
}

a {
	text-decoration: none;
}
