@import url( "https://fonts.googleapis.com/css?family=Roboto" );
@import url( "https://fonts.googleapis.com/css?family=Roboto+Slab" );

* {
	box-sizing: border-box;
}

html {
	font-size: 1em;
}

body {
	font-family: "Roboto Slab", "Source Code Pro", monospace;
	color: #444;
	background: #593950; /* Eggplant (sonal) */
	background: #90374d; /* Crimson (brick red) */
	background: #e53c41; /* Soft red */
	background: #6066c8; /* Soft blue */
	background: #2d3250; /* Midnight (dark blue) */
	color: #fff;
	color: #eee;
}

h1, h2, h3 {
	font-weight: normal;
}

a {
	text-decoration: none;
}