$columnGutter: 20px;
$numThumbnailsInAtelierRow: 4;


.atelier {
    column-count: 1;
    column-gap: $columnGutter;

    @media screen and (min-width: $breakpoint-web) {
        & {
            column-count: $numThumbnailsInAtelierRow;
            column-fill: auto;
        }
    }
}