.atelier {
    text-align: center;

    img + p {
        margin-bottom: 60px;
    }

    .description {
        max-width: 800px;
        margin: 0 auto 60px auto;
    }

    img.logo {
        width: 300px;
    }
}