$bkg: #FFFFFF;
$accent: #3B8686;
$primaryText: #000000;
$secondaryText: #747474;
$imageBorder: #BEBEBE;

$breakpoint-web: 700px;

$atelierThumbGutter: 35px;

$serifType: "Zilla Slab", serif;
$serifTypeAlt: "Glegoo", serif;
$sansSerifType: "Source Sans Pro", "Calibri", "Arial", sans-serif;
$headingType: "Montserrat", "Garamound", sans-serif;