$width: 300px;


.proj-thumbnail {
    width: 100%;
    display: inline-block;
    margin: 20px 0;

    @media screen and (min-width: $breakpoint-web) {
        & {
            max-width: $width;
            margin: 20px;
            text-align: center;
        }
    }

    .box {
        width: 100%;
        height: $width;
        background: $accent;
    }

    @media screen and (min-width: $breakpoint-web) {
        & {
            width: $width;
        }
    }

    h3 {
        color: $primaryText;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    p {
        margin: 0;
    }
}