// Variables:
$animationTimeInterval: 0.7s;

.header {
    text-align: left;
    padding: 20px 20px 0 20px;

    @media screen and (min-width: $breakpoint-web) {
        & {
            text-align: center;
        }
    }

    img {
        margin: 25px 0;
        width: 70px;
        transition: $animationTimeInterval background-color;
        -webkit-transition: $animationTimeInterval transform;
        -moz-transition: $animationTimeInterval transform;
        -ms-transition: $animationTimeInterval transform;
        -o-transition: $animationTimeInterval transform;

        &:hover {
            transform: rotateZ( 360deg );
        }
    }

    h1 {
        font-family: $sansSerifType;
        font-size: 2.2rem;
        font-weight: 300;
        margin: 0;

        @media screen and (min-width: $breakpoint-web) {
            & {
                font-size: 3.1rem;
            }
        }
    }

    h2 {
        margin-top: 5px;
        font-size: 1rem;
        color: $secondaryText;

        @media screen and (min-width: $breakpoint-web) {
            & {
                font-size: 1.1rem;
            }
        }
    }
}