.header {
    text-align: left;
    padding: 20px 20px 0 20px;

    @media screen and (min-width: $breakpoint-web) {
        & {
            text-align: center;
        }
    }

    img {
        margin: 25px 0;
    }

    h1 {
        font-family: "Source Sans Pro", "Calibri", "Arial", sans-serif;
        font-size: 2.2rem;
        font-weight: 300;
        margin: 0;

        @media screen and (min-width: $breakpoint-web) {
            & {
                font-size: 3.1rem;
            }
        }
    }

    h2 {
        margin-top: 5px;
        font-size: 1rem;
        color: $secondaryText;

        @media screen and (min-width: $breakpoint-web) {
            & {
                font-size: 1.1rem;
            }
        }
    }
}