.section-builtwith a {
	margin: 5px;
}

@media screen and ( min-width: 700px ) {
	.section-builtwith ol {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	.section-builtwith ol li {
		display: inline-block;
	}
}