.code {
	background: #2a363b;
	max-width: 650px;
	margin: 0 auto;
	border-radius: 5px;
	border: 1px solid #888;
	box-shadow: 1px 1px 0 white, 7px 7px 0 rgba( 0, 0, 0, 0.1 );
	overflow: hidden;
}

.code__header {
	background: #999;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
}
.code__header .mime {
	color: #666;
}

.code__inner {
	padding: 15px;
	color: white;
}

.code__inner pre {
	margin: 0;
	overflow-x: scroll;
}
@media screen and ( min-width: 700px ) {
	.code__inner pre {
		overflow-x: auto;
		white-space: pre-wrap;
	}
}
.code__inner pre code {
	font-size: 0.7rem;
	color: #e9e9e9;
	line-height: 1.8;
	font-family: "Source Code Pro", monospace;
}
.code__inner pre code .keyword {
	color: #f2c45a;
}
.code__inner pre code .identifier {
	color: #ff9c5b;
}
.code__inner pre code .string {
	color: #80cbc4;
}
.code__inner pre code .comment {
	color: #546e7a;
}
.code__inner pre code .param {
	color: #e08e79;
}
.code__inner pre code select {
	font-family: inherit;
}