.goldenapple {
	color: #ff9900;
}

.summersky {
	color: #3299bb;
}

.cherrylove {
	color: #ed303c;
}

.grassygreen {
	color: #519548;
}

.greensaber {
	color: #88c425;
}

.crimson {
	color: #bf4d28;
}

.brightyellow {
	color: #f8ca00;
}

.babypink {
	color: #f04155;
}

.peacock {
	color: #036564;
}

.maize {
	color: #fbec5d;
}