.section-connect a {
	padding: 5px;
	margin: 10px;
	border-bottom: none;
}

.fa-facebook-square {
	color: #3b5998;
}
.fa-twitter {
	color: #00aced;
}
.fa-google-plus {
	color: #dd4b39;
}
.fa-github {
	color: #333;
}
.fa-linkedin {
	color: #007bb5;
}