.hide {
	display: none;
}

.align--left {
	text-align: left;
}

.align--center {
	text-align: center;
}

.align--right {
	text-align: right;
}

.upper {
	text-transform: uppercase;
}

.underline {
	border-bottom: 1px solid;
}

.img-wrapper {
	overflow: hidden;
	position: relative;
}
.img-wrapper img {
	max-width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}