$listItemGutter: 20px;


.portfolio {
    text-align: center;

    .meta {
        margin-top: 100px;
    }
}

.project {
    .content-block {
        padding-top: 40px;

        h4 {
            font-weight: bold;
            font-size: 1.7rem;

            &.subtitle {
                font-size: 1.2rem;
            }
        }

        .img-center {
            text-align: center;
        }

        img {
            border: 1px solid #bebebe;

            & + p {
                text-align: center;
                font-size: 0.9rem;
                margin-bottom: 40px;
            }

            &.no-border {
                border: none;
            }

            &.padded {
                @media screen and (min-width: $breakpoint-web) {
                    & {
                        width: 420px;
                        display: inherit;
                        margin: 0 auto;
                    }
                }
            }
        }

        .snippet {
            padding: 20px 0;
            font-style: italic;

            @media screen and (min-width: $breakpoint-web) {
                & {
                    padding: 20px 120px;
                }
            }
        }
    }

    .equation-block {
        @media screen and (min-width: $breakpoint-web) {
            & {
                width: 720px;
                margin: 0 auto;
            }

            p {
                text-align: right;
            }

            .pivot {
                display: inline-block;
                width: 50%;
                text-align: left;
            }
        }
    }

    .fluid-media {
        position: relative;
        padding-bottom: 56.25%; // proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%)
        padding-top: 30px;
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        // @src http://www.bymichaellancaster.com/blog/fluid-iframe-and-images-without-javascript-plugins/
    }

    .padded-list-item {
        margin-bottom: $listItemGutter;
    }

    .red { color: #F38181; }
    .green { color: #65BB81; }
}